.controls{
  display: flex;
  flex-flow: row nowrap;
  width: 80vw;
  align-items: center;
  margin: 30px;
}

.control{
  margin: 0px 15px;
  flex: 10%;
}

.selectVideoText{
  padding-left: 30px;
  flex: 90%;
}

.drawerHeader{
  display: flex;
  align-items: center;
  width: 100%;
}

.closeIcon{
  justify-self: flex-end;
}

.playButton{
  composes: control;
  text-align: end;
  padding-right: 30px;
}


